
<div class="login-status-header">

  <div *ngIf="isAuthenticated" class="login-status-user-info">
      Welcome back! {{userFullName}}
  </div>

  <button *ngIf="!isAuthenticated" (click)="logIn()" class="security-btn">Login</button>

  <button *ngIf="isAuthenticated" (click)="logOut()" class="security-btn">Logout</button>
  <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn">Member</button>
  <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn">Order History</button>

</div>

